<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- to force a reload -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>Idle Loops</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="vue-stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
    <script type='text/javascript' src='./vue.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body id="theBody" style="min-width:1210px">
    <div id="timeInfo" style="width:100%;text-align:center;">
        <div style="width:100%;height:10px;background:white;text-align:center;position:relative;">
            <div id="timeBar" style="height:100%;width:20%;background-color:#8293ff;display:block;margin:auto;"></div>
        </div>
        <div id='menu' style='float:left;height:30px;'></div>
        <div id='trackedResources'></div>
        <br>
        <div id='timeControls'></div>
    </div>

    <div id="statsColumn" style="width:410px;vertical-align:top;">
        <div id="statsWindow" style="width:90%;margin-left:12px;text-align:center;position:relative;">
            <div class="showthat">
                <div class="large bold localized" data-lockey="stats>title"></div>
                <div class="showthis localized" data-lockey="stats>tooltip>explanation" style="width:550px;"></div>
            </div><br>
            <input type="radio" id="regularStats" name="statView" onclick="view.changeStatView()" checked />
            <label for="regularStats" class="localized" data-lockey="stats>view>regular"></label>
            <input type="radio" id="radarStats" name="statView" onclick="view.changeStatView()" />
            <label for="radarStats" class="localized" data-lockey="stats>view>radar"></label>
            <div class="showthat" id="radarChart">
                <canvas id="statChartCtx" width="350" height="350"></canvas>
                <div class="showthis localized" style="margin-top:20px;width:375px" data-lockey="stats>tooltip>graph_legend"></div>
            </div>
            <div id="statContainer" style="width:100%;position:absolute;top:18px;left:0;"></div><br>
            <div id="skillList" style="width:100%;margin-top:25px;display:none">
                <div class="showthat">
                    <div class="large bold localized" data-lockey="skills>title"></div>
                    <div class="showthis localized" data-lockey="skills>tooltip>no_reset_on_restart"></div>
                </div><br>
                <div class="skillContainer showthat" id="skillSCombatContainer">
                    <div class="skillLabel medium bold localized" data-lockey="skills>scombat>label"></div>
                    <div class="statNum medium"><div id="skillSCombatLevel">0</div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="showthis">
                        <span class="localized" data-lockey="skills>scombat>desc"></span><br>
                    </div>
                </div>
                <div class="skillContainer showthat" id="skillTCombatContainer">
                    <div class="skillLabel medium bold localized" data-lockey="skills>tcombat>label"></div>
                    <div class="statNum medium"><div id="skillTCombatLevel">0</div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="showthis">
                        <span class="localized" data-lockey="skills>tcombat>desc"></span><br>
                    </div>
                </div>
                <div class="skillContainer showthat" id="skillCombatContainer">
                    <div class="skillLabel medium bold localized" data-lockey="skills>combat>label"></div>
                    <div class="statNum medium"><div id="skillCombatLevel">0</div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="thinProgressBarUpper"><div class="statBar skillExpBar townExpBar" id="skillCombatLevelBar"></div></div>
                    <div class="showthis">
                        <span class="localized" data-lockey="skills>combat>desc"></span><br>
                        <div class="medium bold localized" data-lockey="skills>tooltip>level"></div> <div id="skillCombatLevelExp"></div>/<div id="skillCombatLevelExpNeeded"></div> <div class="statTooltipPerc">(<div id="skillCombatLevelProgress"></div>%)</div><br>
                    </div>
                </div>
                <div class="skillContainer showthat" id="skillMagicContainer">
                    <div class="skillLabel medium bold localized" data-lockey="skills>magic>label"></div>
                    <div class="statNum medium"><div id="skillMagicLevel">0</div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="thinProgressBarUpper"><div class="statBar skillExpBar townExpBar" id="skillMagicLevelBar"></div></div>
                    <div class="showthis">
                        <span class="localized" data-lockey="skills>magic>desc"></span><br>
                        <div class="medium bold localized" data-lockey="skills>tooltip>level"></div> <div id="skillMagicLevelExp"></div>/<div id="skillMagicLevelExpNeeded"></div> <div class="statTooltipPerc">(<div id="skillMagicLevelProgress"></div>%)</div><br>
                    </div>
                </div>
                <div class="skillContainer showthat" id="skillPracticalContainer">
                    <div class="skillLabel medium bold localized" data-lockey="skills>practical_magic>label"></div>
                    <div class="statNum medium"><div id="skillPracticalLevel">0</div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="thinProgressBarUpper"><div class="statBar skillExpBar townExpBar" id="skillPracticalLevelBar"></div></div>

                    <div class="showthis" style="width:490px">
                        <span class="localized" data-lockey="skills>practical_magic>desc"></span><br><br>
                        <div class="medium bold localized" data-lockey="skills>tooltip>level"></div> <div id="skillPracticalLevelExp"></div>/<div id="skillPracticalLevelExpNeeded"></div> <div class="statTooltipPerc">(<div id="skillPracticalLevelProgress"></div>%)</div><br>
                        <span class="localized" data-lockey="skills>practical_magic>desc2"></span>

                    </div>
                </div>
                <div class="skillContainer showthat" id="skillAlchemyContainer">
                    <div class="skillLabel medium bold localized" data-lockey="skills>alchemy>label">Alchemy</div>
                    <div class="statNum medium"><div id="skillAlchemyLevel">0</div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="thinProgressBarUpper"><div class="statBar skillExpBar townExpBar" id="skillAlchemyLevelBar"></div></div>
                    <div class="showthis">
                        <span class="localized" data-lockey="skills>alchemy>desc"></span><br>
                        <div class="medium bold localized" data-lockey="skills>tooltip>level"></div> <div id="skillAlchemyLevelExp"></div>/<div id="skillAlchemyLevelExpNeeded"></div> <div class="statTooltipPerc">(<div id="skillAlchemyLevelProgress"></div>%)</div><br>
                        <span class="localized" data-lockey="skills>alchemy>desc2"></span><br>
                    </div>
                </div>
                <div class="skillContainer showthat" id="skillCraftingContainer">
                    <div class="skillLabel medium bold">Crafting</div>
                    <div class="statNum medium"><div id="skillCraftingLevel">0</div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="thinProgressBarUpper"><div class="statBar skillExpBar townExpBar" id="skillCraftingLevelBar"></div></div>
                    <div class="showthis">
                        The skill of using your hands and creativity when doing physical work.<br>
                        <div class="medium bold">Level</div> <div id="skillCraftingLevelExp"></div>/<div id="skillCraftingLevelExpNeeded"></div> <div class="statTooltipPerc">(<div id="skillCraftingLevelProgress"></div>%)</div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="actionsColumn" style="width:350px;vertical-align:top;">
        <div id="actionList" style="width:100%;text-align:center;">
            <div class="showthat">
                <div class="large bold localized" data-lockey="actions>title_list"></div>
                <div class="showthis">
                    <i class='actionIcon fa fa-circle-thin'></i> <span class='localized' data-lockey="actions>tooltip>icons>circle_thin"></span><br>
                    <i class='actionIcon fa fa-plus'></i> <span class='localized' data-lockey="actions>tooltip>icons>plus"></span><br>
                    <i class='actionIcon fa fa-minus'></i> <span class='localized' data-lockey="actions>tooltip>icons>minus"></span><br>
                    <i class='actionIcon fa fa-arrows-h'></i> <span class='localized' data-lockey="actions>tooltip>icons>arrows_h"></span><br>
                    <i class='actionIcon fa fa-sort-up'></i> <span class='localized' data-lockey="actions>tooltip>icons>sort_up"></span><br>
                    <i class='actionIcon fa fa-sort-down'></i> <span class='localized' data-lockey="actions>tooltip>icons>sort_down"></span><br>
                    <i class='actionIcon fa fa-times'></i> <span class='localized' data-lockey="actions>tooltip>icons>times"></span><br>
                    <span class='localized' data-lockey="actions>tooltip>list_explanation"></span>
                </div>
            </div><br>
            <div id="expandableList">
                <div style="width:35%;height:100%;background-color:#c2e6cc;text-align:center;vertical-align:top;position:relative;">
                    <div id="curActionsList" style="margin-top:10px;text-align:left;max-height:457px;overflow:auto;width:100%;"></div>
                    <div class="showthat" style="position:absolute;bottom:0;left:0;width:100%;">
                        <div class="bold localized" data-lockey="actions>tooltip>mana_used"></div> <div id="totalTicks"></div>
                        <div class="showthis localized" data-lockey="actions>tooltip>mana_used_explanation"></div>
                    </div>
                </div><div style="width:65%;height:100%;background-color:#cdded2;text-align:center;vertical-align:top;position:relative;">
                    <div id="nextActionsList" style="margin-top:10px;width:100%;text-align:left;max-height:457px;overflow:auto;"></div>
                    <div id="actionTooltipContainer" style="margin-top:10px;width:100%;text-align:left;max-height:357px;overflow:auto;"></div>
                    <div style="position:absolute;bottom:0;left:0;width:100%;">
                        <div class="bold localized" data-lockey="actions>tooltip>amount"></div>
                        <div class="button" id="amount1" onclick="changeActionAmount(1, 1)">1</div>
                        <div class="button" id="amount2" onclick="changeActionAmount(5, 2)">5</div>
                        <div class="button" id="amount3" onclick="changeActionAmount(10, 3)">10</div>
                    </div>
                </div>
            </div>
            <div id="actionChanges" style="text-align:left;width:100%;margin-top:5px;">
                <div>
                    <input type="checkbox" id="currentListActive">
                    <label for="currentListActive" class="localized" data-lockey="actions>tooltip>current_list_active"></label><br>
                    <input type="checkbox" id="repeatLastAction">
                    <label for="repeatLastAction" class="localized" data-lockey="actions>tooltip>repeat_last_action"></label><br>
                    <input type="checkbox" id="addActionTop">
                    <label for="addActionTop" class="localized" data-lockey="actions>tooltip>add_action_top"></label>
                </div>
                <div style="float:right;text-align:right;">
                    <div class="bold localized" style="margin-top:3px;" data-lockey="actions>title_loadout"></div>
                    <div class="button unused" id="load1" onclick="selectLoadout(1)">1</div>
                    <div class="button unused" id="load2" onclick="selectLoadout(2)">2</div>
                    <div class="button unused" id="load3" onclick="selectLoadout(3)">3</div>
                    <div class="button unused" id="load4" onclick="selectLoadout(4)">4</div><br>
                    <div class="button localized" style="margin-bottom:5px;margin-top:5px;" onclick="saveList()" data-lockey="actions>tooltip>save_loadout"></div><br>
                    <div class="button localized" onclick="loadList()" data-lockey="actions>tooltip>load_loadout"></div><br>
                    <div class="button localized" onclick="clearList()" data-lockey="actions>tooltip>clear_list"></div>
                </div>
            </div>
        </div>

        <div id="spells" style="width:100%;text-align:center;margin-top:10px;display:none">
            <div class="showthat">
                <div class="large bold localized" data-lockey="spells>title"></div>
                <div class="showthis">
                </div>
            </div><br>
            <div style="width:100%;padding-top:5px;">
            </div>
        </div>

    </div>

    <div id="townColumn" style="width:535px;vertical-align:top;">
        <div id="townWindow" style="width:100%;text-align:center;">
            <div style="float:left;margin-left:150px;" class="actionIcon fa fa-arrow-left" id="townViewLeft" onclick="view.showTown(townShowing-1)"></div>
            <div class="showthat">
                <div class="large bold"><div class="bold" id="townName"></div></div>
                <div id='townDesc' class='showthis'></div>
            </div>
            <div style="float:right;margin-right:150px;" class="actionIcon fa fa-arrow-right" id="townViewRight" onclick="view.showTown(townShowing+1)"></div>
        </div><br>
        <div id="townInfo0" class='townInfo'></div>
        <div id="townInfo1" class='townInfo' style="display:none;"></div>
        <div id="townInfo2" class='townInfo' style="display:none;"></div>

        <div class="showthat" style="display:block;margin:10px auto 2px auto;text-align:center;">
            <span class='large bold localized' data-lockey="actions>title"></span>
            <div class='showthis localized' data-lockey="actions>tooltip>desc"></div>
        </div>
        <div id="actionOptionsTown0" class='actionOptions'></div>
        <div id="actionOptionsTown1" class='actionOptions' style="display:none;"></div>
        <div id="actionOptionsTown2" class='actionOptions' style="display:none;"></div>
    </div>

    <div id="tutorial" style="position:absolute;width:100%;height:100%;left:0;top:0;">
        <div style="width:100%;height:100%;background-color:grey;position:relative;opacity:.5"></div>
        <div style="padding:20px;background-color:#e4ece5;border:1px solid black;position:absolute;text-align:left;left:150px;top:150px;">
            <span class="localized" data-lockey="tutorial"></span>
            <div class="button" onclick="closeTutorial()">OK</div>
        </div>
    </div>

    <div id="app" style="display:block">
        


    <div id="timeInfo" style="width:100%;text-align:center;">
        <div id="timeBarBG">
            <div id="timeBar" :style="{width:100*mana/manaMax+'%'}"></div>
        </div>
        <div style="float:left;height:30px;margin-left:10px;" class="showthatH">
            Changelog
        </div>
        <div style="float:left;height:30px;margin-left:10px;" class="showthatH">
            Saving
        </div>
        <div style="float:left;height:30px;margin-left:10px;" class="showthatH">
            FAQ
        </div>
        <div style="float:left;height:30px;margin-left:10px;" class="showthatH">
            Options
        </div>
        <div class="showthat">
            <div class='bold'>Mana</div> <div id="timer"> {{ manaTimer }} </div>
            <div class="showthis">Your main resource. The higher your mana, the more you can do before reset.</div>
        </div>
        <div class="showthat" v-show="visible.gold">
            <div class='bold'>Gold</div> <div id="gold"> {{ resources.gold }} </div>
            <div class="showthis">Sell for mana, or use for actions.<br>Resets when the loop restarts.</div>
        </div>
        <div class="showthat" v-show="visible.reputation">
            <div class='bold'>Reputation</div> <div id="reputation"> {{ resources.reputation }} </div>
            <div class="showthis">The influence you have over the people in town.<br>Resets when the loop restarts.</div>
        </div>
        <div class="showthat" v-show="resources.supplies">
            <div class='bold'>Supplies</div> <div id="supplies"> {{ resources.supplies }} </div>
            <div class="showthis">Needed to go to the next town.<br>Resets when the loop restarts.</div>
        </div>
        <div class="showthat" v-show="resources.herbs">
            <div class='bold'>Herbs</div> <div id="herbs"> {{ resources.herbs }} </div>
            <div class="showthis">The beneficial plants you've found.<br>Resets when the loop restarts.</div>
        </div>
        <div class="showthat" v-show="resources.hide">
            <div class='bold'>Hide</div> <div id="hide"> {{ resources.hide }} </div>
            <div class="showthis">Results of successful hunting.<br>Resets when the loop restarts.</div>
        </div>
        <div class="showthat" v-show="resources.potions">
            <div class='bold'>Potions</div> <div id="potions"> {{ resources.potions }} </div>
            <div class="showthis">Rare, but not complex. Worth some money.<br>Resets when the loop restarts.</div>
        </div>
        <div class="showthat" v-show="resources.glasses">
            <div class='bold'>Glasses</div>
            <div class="showthis">Woah, trees have so many leaves on them.<br>Resets when the loop restarts.</div>
        </div>
        <br>
        <div id="pausePlay" onclick="pauseGame()" class="button">Pause</div>
        <input type="checkbox" id="pauseBeforeRestart" v-model="options.pauseBeforeRestart">
        <label for="pauseBeforeRestart">Pause before restart</label>
        <div onclick="restart()" class="button showthat">
            Restart
            <div class="showthis" style="color:black;width:230px;">
                Resets the loop. Not a hard reset.
            </div>
        </div>
        <div class="showthat">
            <div class="showthat" onmouseover="view.updateStory(storyShowing)" style="height:30px;">
                <div class="large bold">Story</div><div id="newStory" style="color:red;display:none;">(!)</div>
                <div class="showthis" style="width:400px;">
                    <div style="margin-left:175px;" class="actionIcon fa fa-arrow-left" id="storyLeft" onclick="view.updateStory(storyShowing-1)"></div>
                    <div style="" id="storyPage" class="bold"></div>
                    <div style="" class="actionIcon fa fa-arrow-right" id="storyRight" onclick="view.updateStory(storyShowing+1)"></div>
                    <div id="story0">
                        You're a simple courier, on a long trip to deliver a high priority package. Just as you entered town, you tripped - breaking your glasses - and the package burst open, spilling a strange liquid on you. Immediately, your meager amount of mana started draining rapidly. Right as your mana became empty, you found yourself back in the moment the liquid was absorbed into your skin, with your tiny reserves filled... yet draining just as before. This happened again and again, the world resetting with you, until you decided you had to figure out a way to prolong how long these 'loops' were. Mana crystals are often stored in pottery around town, perhaps you'll start there ...
                    </div>
                    <div id="story1" style="display:none">
                        You reach the end of the dungeon, where a softly glowing orb floats on a pedastal. You've found the dungeon core - for the first level of the dungeon, at least. As you grasp it, the essence dives into you, infusing your very being with the power it holds. It is a small amount of power, but this is a small dungeon. You'll be back to take this power again, knowing with the foreign knowledge implanted that it will stay with you no matter when you are.
                    </div>
                    <div id="story2" style="display:none">
                        You reach the end of the dungeon again, but for the first time the core isn't glowing. It's always been thought that dungeon cores build based on the mana spent around them, but you're beginning to think the essence of it's previous incarnations drains it somehow. It doesn't always happen, but you'll need to put more mana into the world to take the core's benefits out of it. You shrug, accepting yet another oddity of the loops.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="statsColumn" style="width:410px;vertical-align:top;">
        <div id="statsWindow" style="width:90%;margin-left:12px;text-align:center;position:relative;">
            <div class="showthat">
                <div class="large bold">Stats</div>
                <div class="showthis" style="width:550px;">
                    Each stat level reduces the relevant part of an action's mana cost by 1%.<br>
                    Talent gets 1% of all level progress, and keeps through loops.<br>
                    Each talent level increases Bonus XP of its skill by 1%.<br>
                    XP gain towards an stat per action is (actual mana / original mana) * (talent %) per tick.<br>
                    Bonus XP is a combination of talent and soulstone bonuses.<br><br>
                    e.g. Meet People costs 800 mana and has a breakdown of <div class="bold">Int</div> 10% <div class="bold">Cha</div> 80% <div class="bold">Soul</div> 10%.<br>
                    This effectively means 80 of the mana is controlled by <div class="bold">Int</div>, another 80 by <div class="bold">Soul</div>, and the remaining 640 by <div class="bold">Cha</div>.<br>
                    If your <div class="bold">Cha</div> is level 20 when the action is started, it'd be 640 / 1.2 = 533.333<br>
                    Adding back the 160 from <div class="bold">Soul</div> and <div class="bold">Int</div>, the total mana the action takes (rounded up) is now 694, so ~15% less mana.<br>
                    The action would give (800/694)*(1+talent/100) level exp per mana for the 694 mana.
                </div>
            </div><br>
            <div class="showthat">
                <canvas id="statChartCtx" width="350" height="350"></canvas>
                <div class="showthis" style="margin-top:20px;width:375px">
                    Click the legend to show/hide each.<br>
                    Upon freshly starting, Levels and Talent won't change much.<br>
                    Hover Stats for more info.
                </div>
            </div>
            <div id="statContainer" style="width:100%;position:absolute;top:0;left:0;"></div><br>
            <div id="skillList" v-show="skills.Combat.exp+skills.Combat.level+skills.Magic.exp+skills.Magic.level">
                <div class="showthat">
                    <div class="large bold">Skills</div>
                    <div class="showthis">
                        Skills last through resets.<br>
                    </div>
                </div><br>
                <div class="skillContainer showthat" v-for="(skill, name) in skills" v-show="skill.exp + skill.level">
                    <div class="statLabel medium bold"> {{ desc.skillName[name] }} </div>
                    <div class="statNum medium"><div id="skillCombatLevel"> {{ skill.level }} </div></div>
                    <div style="margin-top:18px;"></div>
                    <div class="thinProgressBarUpper"><div class="statBar skillExpBar townExpBar" :style="{width:100*skill.exp/skill.expToLevel+'%'}"></div></div>
                    <div class="showthis">
                        {{ desc.skill[name] }} <br>
                        <div class="medium bold">Level</div> {{ skill.exp }}/{{ skill.expToLevel }} <div class="statTooltipPerc">({{ intToString(100*skill.exp/skill.expToLevel, 2) }}%)</div><br>
                        <div v-if="desc.skillEffect[name]" style="white-space:pre"> {{ desc.skillEffect[name] }} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--  -->
<!--  -->
<!--  -->
<div id="actionsColumn" style="width:350px;vertical-align:top;">
    <div id="actionList" style="width:100%;text-align:center;">
        <div class="showthat">
            <div class="large bold">Action List</div>
            <div class="showthis">
                <i class="actionIcon fa fa-circle-thin"></i> Cap to current max<br>
                <i class="actionIcon fa fa-plus"></i> Add one loop<br>
                <i class="actionIcon fa fa-minus"></i> Subtract one loop<br>
                <i class="actionIcon fa fa-arrows-h"></i> Split action<br>
                <i class="actionIcon fa fa-sort-up"></i> Move action up<br>
                <i class="actionIcon fa fa-sort-down"></i> Move action down<br>
                <i class="actionIcon fa fa-times"></i> Remove action<br>
                Drag and drop the actions to re-arrange them.<br>
                The next list becomes the current list every restart.<br>
                One second = 50 mana.<br>
                Minimum 1 tick per action.<br>
                Restarts automatically upon no actions left.<br>
            </div>
        </div><br>
        <div id="expandableList">
            <div style="width:35%;height:100%;background-color:#c2e6cc;text-align:center;vertical-align:top;position:relative;">
                <div id="curActionsList" style="margin-top:10px;text-align:left;max-height:370px;overflow:auto;width:100%;">
                    <div class="curActionContainer small" v-for="(action, index) in actions.current" @mouseover="mouseoverAction(index, true)" @mouseleave="mouseoverAction(index, false)">
                        <div :class="{curActionBar:true, actionLoopsFailed:action.loopsFailed, actionCurrentPos:actions.currentPos == index, actionFinished: action.loopsLeft === 0}" id="actionBar" :style="{width:!action.loopsLeft||action.loopsFailed?'':(100*action.ticks/action.adjustedTicks)+'%'}"></div>
                        <div class="actionSelectedIndicator"></div>
                        <img :src="'img/' + camelize(action.name) + '.svg'" class="smallIcon">
                        x <div id="actionLoopsLeft" style="margin-left:3px">{{ action.loops }}</div>
                        (<div id="actionLoops">{{ action.loopsLeft }}</div>)
                    </div>
                </div>
                <div class="showthat" style="position:absolute;bottom:0;left:0;width:100%;">
                    <div class="bold">Mana Used</div>
                    <div id="totalTicks">{{actions.completedTicks}}</div>
                    <div class="showthis">
                        Shows stat gain affecting speed.<br>
                        Updates every completed action.<br>Accurate at end of run.        
                    </div>
                </div>
            </div><!--
         --><div style="width:65%;height:100%;background-color:#cdded2;text-align:center;vertical-align:top;position:relative;">
                <div id="nextActionsList" style="margin-top: 10px; width: 100%; text-align: left; max-height: 357px; overflow: auto; display: inline-block;">
                    <div class="nextActionContainer small" v-for="(action, index) in actions.next" ondragover="handleDragOver(event)" ondrop="handleDragDrop(event)" ondragstart="handleDragStart(event)" ondragend="draggedUndecorate(event)" ondragenter="dragOverDecorate(event)" ondragleave="dragExitUndecorate(event)" draggable="true" data-index="0"><!--
                    --><img :src="'img/' + camelize(action.name) + '.svg'" class="smallIcon imageDragFix"> x
                        <div class="bold">{{ action.loops }}</div>
                        <div style="float:right"><!--
                        --><i v-if="hasCap(action.name)" @click="capAmount(index, translateClassNames(action.name).townNum)" class="capActionButton actionIcon fa fa-circle-thin"></i><!--
                        --><i v-if="!getTravelNum(action.name)" @click="addLoop(index)" class="plusActionButton actionIcon fa fa-plus"></i><!--
                        --><i v-if="!getTravelNum(action.name)" @click="removeLoop(index)" class="minusActionButton actionIcon fa fa-minus"></i><!--
                        --><i v-if="!getTravelNum(action.name)" @click="split(index)" class="splitActionButton actionIcon fa fa-arrows-h"></i><!--
                        --><i @click="moveUp(index)" class="upActionButton actionIcon fa fa-sort-up"></i><!--
                        --><i @click="moveDown(index)" class="downActionButton actionIcon fa fa-sort-down"></i><!--
                        --><i @click="removeAction(index)" class="removeActionButton actionIcon fa fa-times"></i><!--
                    --></div>
                    </div>
                </div>


                
                <div id="actionTooltipContainer" style="margin-top: 10px; width: 100%; text-align: left; max-height: 357px; overflow: auto; display: none;">
                    <div class="actionTooltip" style="display:none;padding-left:10px;width:90%">
                        <div style="text-align:center;width:100%">Buy Supplies</div>
                        <br>
                        <br>
                        <div class="bold">Mana Original</div>
                        <div id="action0ManaOrig">200</div>
                        <br>
                        <div class="bold">Mana Used</div>
                        <div id="action0ManaUsed">0</div>
                        <br>
                        <div class="bold">Remaining</div>
                        <div id="action0Remaining">249</div>
                        <br>
                        <br>
                        <div id="action0ExpGain"></div>
                        <div id="action0HasFailed" style="display: block;">
                            <div class="bold">Failed Attempts</div>
                            <div id="action0Failed">1</div>
                            <br>
                            <div class="bold">Error</div>
                            <div id="action0Error">You could not make the cost for the action.</div>
                        </div>
                    </div>
                    <div id="actionTooltip0" style="display:none;padding-left:10px;width:90%">
                        <div style="text-align:center;width:100%">Buy Supplies</div>
                        <br>
                        <br>
                        <div class="bold">Mana Original</div>
                        <div id="action0ManaOrig">200</div>
                        <br>
                        <div class="bold">Mana Used</div>
                        <div id="action0ManaUsed">0</div>
                        <br>
                        <div class="bold">Remaining</div>
                        <div id="action0Remaining">249</div>
                        <br>
                        <br>
                        <div id="action0ExpGain"></div>
                        <div id="action0HasFailed" style="display: block;">
                            <div class="bold">Failed Attempts</div>
                            <div id="action0Failed">1</div>
                            <br>
                            <div class="bold">Error</div>
                            <div id="action0Error">You could not make the cost for the action.</div>
                        </div>
                    </div>
                    <div id="actionTooltip1" style="display: none; padding-left: 10px; width: 90%;">
                        <div style="text-align:center;width:100%">Smash Pots</div>
                        <br>
                        <br>
                        <div class="bold">Mana Original</div>
                        <div id="action1ManaOrig">27</div>
                        <br>
                        <div class="bold">Mana Used</div>
                        <div id="action1ManaUsed">23</div>
                        <br>
                        <div class="bold">Remaining</div>
                        <div id="action1Remaining">427</div>
                        <br>
                        <br>
                        <div id="action1ExpGain">
                            <div class="bold">Str</div> 8673.7
                            <br>
                            <div class="bold">Spd</div> 6415.0
                            <br>
                            <div class="bold">Per</div> 2111.1
                            <br>
                        </div>
                        <div id="action1HasFailed" style="display:none">
                            <div class="bold">Failed Attempts</div>
                            <div id="action1Failed">0</div>
                            <br>
                            <div class="bold">Error</div>
                            <div id="action1Error"></div>
                        </div>
                    </div>
                    <div id="actionTooltip2" style="display: none; padding-left: 10px; width: 90%;">
                        <div style="text-align:center;width:100%">Train Speed</div>
                        <br>
                        <br>
                        <div class="bold">Mana Original</div>
                        <div id="action2ManaOrig">0</div>
                        <br>
                        <div class="bold">Mana Used</div>
                        <div id="action2ManaUsed">0</div>
                        <br>
                        <div class="bold">Remaining</div>
                        <div id="action2Remaining"></div>
                        <br>
                        <br>
                        <div id="action2ExpGain"></div>
                        <div id="action2HasFailed" style="display:none">
                            <div class="bold">Failed Attempts</div>
                            <div id="action2Failed">0</div>
                            <br>
                            <div class="bold">Error</div>
                            <div id="action2Error"></div>
                        </div>
                    </div>
                    <div id="actionTooltip3" style="display: none; padding-left: 10px; width: 90%;">
                        <div style="text-align:center;width:100%">Smash Pots</div>
                        <br>
                        <br>
                        <div class="bold">Mana Original</div>
                        <div id="action3ManaOrig">0</div>
                        <br>
                        <div class="bold">Mana Used</div>
                        <div id="action3ManaUsed">0</div>
                        <br>
                        <div class="bold">Remaining</div>
                        <div id="action3Remaining"></div>
                        <br>
                        <br>
                        <div id="action3ExpGain"></div>
                        <div id="action3HasFailed" style="display:none">
                            <div class="bold">Failed Attempts</div>
                            <div id="action3Failed">0</div>
                            <br>
                            <div class="bold">Error</div>
                            <div id="action3Error"></div>
                        </div>
                    </div>
                </div>                <div style="position:absolute;bottom:0;left:0;width:100%;">
                    <div class="bold">Amount</div>
                    <div class="button" id="amount1" onclick="changeActionAmount(1, 1)">1</div>
                    <div class="button unused" id="amount2" onclick="changeActionAmount(5, 2)">5</div>
                    <div class="button unused" id="amount3" onclick="changeActionAmount(10, 3)">10</div>
                </div>
            </div>
        </div>
        <div id="actionChanges" style="text-align:left;width:100%;margin-top:5px;">
            <div>
                <input type="checkbox" id="currentListActive">
                <label for="currentListActive">Keep current list active</label><br>
                <input type="checkbox" id="repeatLastAction">
                <label for="repeatLastAction">Repeat last action on list</label><br>
                <input type="checkbox" id="addActionTop">
                <label for="addActionTop">Add action to top of list</label>
            </div>
            <div style="float:right;text-align:right;">
                <div class="bold" style="margin-top:3px;">Loadouts</div>
                <div class="button unused" id="load1" onclick="selectLoadout(1)">1</div>
                <div class="button unused" id="load2" onclick="selectLoadout(2)">2</div>
                <div class="button unused" id="load3" onclick="selectLoadout(3)">3</div>
                <div class="button unused" id="load4" onclick="selectLoadout(4)">4</div><br>
                <div class="button" style="margin-bottom:5px;margin-top:5px;" onclick="saveList()">Save List</div><br>
                <div class="button" onclick="loadList()">Load Selected List</div>
            </div>
        </div>
    </div>

    <div id="spells" style="width:100%;text-align:center;margin-top:10px;display:none">
        <div class="showthat">
            <div class="large bold">Spells</div>
            <div class="showthis">
            </div>
        </div><br>
        <div style="width:100%;padding-top:5px;">
        </div>
    </div>

</div>
<!--  -->
<!--  -->
<!--  -->


    <div id="townColumn" style="width:535px;vertical-align:top;">
        <div id="townWindow" style="width:100%;text-align:center;">
            <div style="float:left;margin-left:150px;" class="actionIcon fa fa-arrow-left" id="townViewLeft" onclick="view.showTown(townShowing-1)"></div>
            <div class="showthat">
                <div class="large bold"><div class="bold" id="townName"></div></div>
                <div class="showthis">
                    Mana cost is based on ratio of stat %s.<br>
                    Gained exp is proportional too.<br>
                    Exp is gained every tick.<br>
                    Actions will target unchecked objects before known lootable objects.<br>
                </div>
            </div>
            <div style="float:right;margin-right:150px;" class="actionIcon fa fa-arrow-right" id="townViewRight" onclick="view.showTown(townShowing+1)"></div>
        </div><br>
        <div id="townInfo0" class='townInfo'></div>
        <div id="townInfo1" class='townInfo' style="display:none;"></div>
        <div id="townInfo2" class='townInfo' style="display:none;"></div>

        <div class="large bold" style="display:block;margin:10px auto 2px auto;text-align:center;">Action Options</div>
        <div id="actionOptionsTown0" class='actionOptions'></div>
        <div id="actionOptionsTown1" class='actionOptions' style="display:none;"></div>
        <div id="actionOptionsTown2" class='actionOptions' style="display:none;"></div>
    </div>

<!--     <div id="tutorial" style="position:absolute;width:100%;height:100%;left:0;top:0;">
        <div style="width:100%;height:100%;background-color:grey;position:relative;opacity:.5"></div>
        <div style="padding:20px;background-color:#e4ece5;border:1px solid black;position:absolute;text-align:left;left:150px;top:150px;">
            TUTORIAL<br>
            Click the Wander action and click Play to start.<br>
            Wander for a bit, then smash pots.<br>
            Watch the numbers change, read all the tooltips.<br>
            Complete the town, go to the next one.<br><br>
            <div class="button" onclick="closeTutorial()">OK</div>
        </div>
    </div> -->

    </div>

</body>
</html>
<script src="helpers.js?15"></script>
<script src="interval.js?15"></script>
<script src="driver.js?15"></script>
<script src="stats.js?15"></script>
<script src="statsgraph.js?15"></script>
<script src="views/main.view.js?15"></script>
<script src="actions.js?15"></script>
<script src="actionList.js?15"></script>
<script src="town.js?15"></script>
<script src="saving.js?15"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60978932-1', 'auto');
    ga('send', 'pageview');

</script>
<script src="vue-actionList.js?11"></script>
<script src="vue-run.js?11"></script>
<script src="localization.js?13"></script>
<script src="views/views.js?13"></script>
<script src="views/menu.view.js?13"></script>
<script src="views/trackedresources.view.js?13"></script>
<script src="views/timecontrols.view.js?13"></script>
<script>
  $(function() {
    Localization.init();
    window._txt = Localization.txt; // binding the _txt function for simplier use
    window._txtsObj = Localization.txtsObj; // binding the _txt function for simplier use
    Localization.loadLib('game',function() { // we load the "game.xml" library, then startup the game.
      Views.draw();
      Localization.localizePage("game");
      startGame();
    });
  })
</script>
</html>