div#timeBar {
    height: 100%;
    width: 20%;
    background-color: #8293ff;
    display: block;
    margin: auto;
}

div#timeBarBG {
    width: 100%;
    height: 10px;
    background: white;
    text-align: center;
    position: relative;
}

div#skillList {
    width: 100%;
    margin-top: 15px;
}

.curActionBar.actionFinished {
    width: 100%;
    background-color: #6d6d6d;
}

.curActionBar.actionLoopsFailed {
    width: 100%;
    background-color: #ff0000;
    height: 30%;
    margin-top: 5px;
}

.actionSelectedIndicator {
    opacity: 1;
    width: 0px;
    transition: width 0.2s, border-left-width 0.2s;
    background-color: rgba(9, 0, 226, 0.15);
    border-left:  0px solid #0900e2;
}

.curActionContainer:hover > .actionSelectedIndicator {
    width: calc(100% - 3px);
    border-left-width: 3px;
}

.smallIcon {
    vertical-align: bottom;
    margin: 2px 2px 1px 3px;
    transition: margin-left 0.2s;
}

.curActionContainer:hover > .smallIcon {
    margin-left: 6px;
}
